html {
    height: 100%;
}
body {
    background-color: green;
    height: 100%;
    margin: 0;
}

.portrait {
    position: absolute;
    top: -30px;
}


.imageButton {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 500px;
}

#perk1div {
    top: 390px;
    left: 133px;
}

#perk2div {
    top: 523px;
    left: 0;
}

#perk3div {
    top: 523px;
    left: 266px;
}

#perk4div {
    top: 656px;
    left: 133px;
}

div {
    position: absolute;
    top: 16px;
    left: 574px;
    height: 256px;
    width: 256px;
}

div.click-to-top span {
    display: none;
    position: absolute;
    top: 0;
    left: 150px;
    background: #333;
    color: #fff;
  }
  
  div.click-to-top:hover span {
    display: block;
  }